.logo {
    // width: 130px;
    height: 60px;
}

.text-secondary:hover {
    color:  #79c51d !important ;
}

i {
    color:  #79c51d
}

.fa-lg {
    padding-left: 40px;
}

.fa-lg:hover {
    color: #79c51d;
}
