.logo {
    height: 50px;
    border-radius: 200px;
}

.head {
    box-shadow: 1px 1px 1px silver;
    height: 80px;
    margin-bottom: 10px;
}

.nav-link {
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.active-link {
    background-color: #508f08 ;
    color: white;
    border-radius: 10px;
    text-align: center;
}

i {
    font-size: 24px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.role {
    margin: 50px;
}

// .dropdown:hover ul {
//     display: block;
// }

@media only screen and (max-width: 768px) {
    .role {
        margin-left: 10px;
    }
}