/* ======================
# Cart 
========================== */

.cart-box {
    height: auto;
    overflow: auto;
    max-height: 600px;

}
    .box {
        border: 2px solid silver;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 1px 1px 1px -2px grey;
        padding: 20px 20px 0 20px;
        border-radius: 10px;
    }




/* ======================
# Secure 
========================== */

#secure {

    .secure {
    
    }
    i {
        font-size: 64px;
    }

}

