.sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    border-right: 1px solid #e3e3e3;
    z-index: 997;
    box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
    background-color: #fff;
}


.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: whitesmoke;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: grey;
}

.sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav .nav-item {
    margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: grey;
    font-weight: 600;
    margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: grey;
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
}

.sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    color: black;
}

.sidebar-nav .nav-link.collapsed {
    color: black;
    background: whitesmoke;
}

.sidebar-nav .nav-link.collapsed i {
    color: black;
}

.sidebar-nav .nav-link:hover {
    color: grey;
    background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
    color: grey;
}

.sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

.sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: grey;
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
}

.sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
    color: grey;
}

.sidebar-nav .nav-content a.active i {
    background-color: grey;
}

.activeLink {
    background-color: #c7c9ce !important;
    color: #056807 !important;
}

.activeLink i {
    color: #056807 !important;
}

@media (max-width: 768px) {
    .sidebar {
        max-width: 40%;
    }
}